
.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

button {
  font-size: 15px;
  box-shadow: 3px 3px 3px gray;
  border: 3px solid lightblue;
  border-radius: 7px;
  outline: none;
}


#work {
  background-color: red;
  color: white;
}

#break {
  background-color: green;
  color: white;
}

.task-container{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */

}
.task-input {
  height: 2em;
  width: 60%;
  box-shadow: 2px 2px 2px gray;
  margin-bottom: 5px;
}
.new-task-button {
  height: 2em;
  width: 35%;
  color: red;
  border-radius: 2px;
  background-color: black;
  border: 1px solid red;
  margin: 0 0 5px 8px;
}

.task-list {
  /* border: 1px solid gray; */
  padding: 3px;
  margin: 5px 0 10px 0;
  font-family: 'Mina', sans-serif;
  box-shadow: 2px 2px 2px red;
  background-color: lightgray;

}

.task-list:hover {
  transform: scale(1.25);
  background-color: gray;
  box-shadow: 6px 6px 6px red;
  color: white;

}

.list-item {
  /* display: inline; */
}

.list-delete {

  padding: 1px 3px 1px 3px;
  color: red;
  /* display: inline; */
  /* float: right; */
  font-size: 10px;
  box-shadow: 0 2px 2px black;
  border: 1px solid red;
  border-radius: 2px;
  outline: none;
  background-color: white;
}
.list-delete:hover {
  background-color: red;
  color: white;
}


@media screen and (max-width: 600px) {
  /* .container {
    background-color: blue;
  }

  button {
    font-size: 10px;
    box-shadow: 1px 1px 1px gray;
    border: 1px solid yellow;
    border-radius: 7px;
    outline: none;
  } */
}
