<!DOCTYPE html>
<html ng-app="pomTimer">
  <head lang="en">
      <meta charset="UTF-8">
      <title>PomTimer</title>
      <link rel="stylesheet" type="text/css" href="/styles/main.css">
      <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
  </head>
  <body >

    <ui-view></ui-view>
    <div class="task-container" ng-controller="TaskCtrl as task">
      <h3>Create a new task:</h3>
      <input type="text" placeholder="Enter a task"  class="task-input" ng-model="task.taskName" ng-keypress="$event.keyCode == 13 && task.add(task.taskName)">
      <button type="button" ng-click="task.add(task.taskName)" class="new-task-button">New task</button>

      <div class="task-list" ng-repeat="tasked in task.taskList track by $index">
        <div>
          <div class="list-item">{{$index +1}}: {{tasked.$value}}</div>
          <button class="list-delete" ng-click="task.delete($index)">CLEAR</button> </div>
      </div>

    </div>



      <!-- Angular -->
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

       <!-- AngularUI Router -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>

     <!-- FireBase -->
     <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
     <!-- AngularFire -->
     <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

     <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
      <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyDL4dKjTVRDq0epf56klyqRpWBM-kLG51Y",
          authDomain: "pomtimer.firebaseapp.com",
          databaseURL: "https://pomtimer.firebaseio.com",
          projectId: "pomtimer",
          storageBucket: "pomtimer.appspot.com",
          messagingSenderId: "236484780696"
        };
        firebase.initializeApp(config);
      </script>

      <!-- Buzz sound library -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.0/buzz.min.js"></script>

       <!-- Application Files -->
      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/HomeCtrl.js"></script>
      <script src="scripts/controllers/TaskCtrl.js"></script>
      <script src="/scripts/directives/timeCounter.js"></script>
      <script src="/scripts/filters/filterTime.js"></script>
      <script src="/scripts/constants/SESSION.js"></script>
      <script src="/scripts/services/SoundPlayer.js"></script>
      <script src="/scripts/services/Tasks.js"></script>

  </body>
</html>
